<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4netConfigurationSectionHandler,log4net, version=1.2.10.0,      Culture=neutral,PublicKeyToken=1b44e1d426115821" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <!-- Pull type "stream" or "scheduled" -->
    <add key="pullType" value="scheduled"/>
    <!-- "PIDA" for Data Archive and "PIAF" for PI Asset Framework-->
    <add key="connectionType" value="PIDA"/>
    <!-- Source PI Server Name -->
    <add key="piserver" value="CANPIDATA-VM1"/>    
    <!-- PI Data Archive Connection Preference-->
    <add key="connectionPreference" value="0"/>
    <!-- PI TagList-->
    <add key="tagList" value=".\tag.csv"/>
    <!-- AfDataPipetype = "Snapshot"," Archive","Timeseries" -->
    <add key="afdatapipeType" value="Timeseries" />
    <!-- No. Of parallel datapipes -->
    <add key="numOfParallelDataPipe" value="4" />
    <!-- Set Encrytion to true to use encrytion connection string or service principle details -->
    <add key="Encryption" value="false"/>
    <!--use EH connection String-->
    <add key="useEhConStr" value="false"/>
    <!--Azure Event Hub connection String-->
    <add key="ehConstr" value="xda"/>
    <!--Azure Event Hub Client Id-->
    <add key="ClientId" value="sxadsd"/>
    <!--Azure Event Hub Client Secret-->
    <add key="ClientSecret" value="dADSD"/>
    <!--Azure Event Hub Tenant Id-->
    <add key="TenantId" value="DsdD"/>
    <!-- fullyQualifiedNamespace-->
    <add key="EhNameSpace" value="dSD"/>
    <!-- Azure EventHub Name -->
    <add key="EventHubName" value="DSDsd"/>
    <!-- Azure Event Hub compression -->
    <add key="compression" value="None" />
    <!-- PI System polling Frequency for AFDatapipes in Seconds -->
    <add key="sendschedule" value="5" />
    <!-- Frequency for Scheduled Stream in Seconds -->
    <add key="frequency" value="30" />
    <!-- Event Timezone "UTC" or "Local time of machine" -->
    <add key="timezone" value="Local"/>
    <!-- Buffer Files Path -->
    <add key="BufferFilesPath" value=".\BufferFile"/>
    <!-- Buffer Folder scan time interval -->
    <add key="bufferfolderScanTime" value="60000"/>
    <!-- AF monitor scan time interval -->
    <add key="afScantime" value="0"/>
  </appSettings>

  <!-- Log4net logging setup  -->
  <log4net>
    <appender name="RollingFileAppenderEventLogs" type="log4net.Appender.RollingFileAppender">
      <file value=".\logs\Events\events.log" />
      <rollingStyle value="Size" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="INFO"/>
      </filter>
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    </appender>
    <appender name="RollingFileAppenderErrorLogs" type="log4net.Appender.RollingFileAppender">
      <file value=".\logs\Errors\error.log" />
      <rollingStyle value="Size" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="ERROR"/>
      </filter>
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    </appender>
    <appender name="AFMonitorLogs" type="log4net.Appender.RollingFileAppender">
      <file value=".\logs\AFMonitorEvents\events.log" />
      <rollingStyle value="Size" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="INFO"/>
      </filter>
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    </appender>
    <appender name="BufferFilesLogs" type="log4net.Appender.RollingFileAppender">
      <file value=".\logs\BufferFileEvents\events.log" />
      <rollingStyle value="Size" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="INFO"/>
      </filter>
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppenderEventLogs" />
      <!--<level value="ERROR"/>-->
    </root>
    <logger additivity="false" name="RollingFileAppenderErrorLogs">
      <level value="ERROR"/>
      <appender-ref ref="RollingFileAppenderErrorLogs" />
    </logger>
    <logger additivity="false" name="AFMonitorLogs">
      <level value="INFO"/>
      <appender-ref ref="AFMonitorLogs" />
    </logger>
    <logger additivity="false" name="BufferFilesLogs">
      <level value="INFO"/>
      <appender-ref ref="BufferFilesLogs" />
    </logger>
  </log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.30.0.0" newVersion="1.30.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>